body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  text-align: center;
}
.logo {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #0a66c2;
  font-family: Arial, sans-serif;
}
.logo span {
  background-color: #0a66c2;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}
.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  margin-top: 20px;
}
.login-box h2 {
  margin-bottom: 5px;
  font-size: 24px;
  
}
.signin-title{
    text-align: left;
}
.login-box p {
  color: #555;
  font-size: 14px;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.forgot {
  display: block;
  text-align: left;
  font-size: 13px;
  color: #0a66c2;
  text-decoration: none;
  margin-bottom: 15px;
}
.submit {
  width: 100%;
  background-color: #0a66c2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}
.divider {
  margin: 15px 0;
  color: #888;
  font-size: 14px;
}
.apple-signin {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #000000;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
}
img {
    justify-content: left;
    align-items: left;
    position: absolute;
    left: 290px;

}
.join {
  font-size: 14px;
  margin-top: 20px;
}
.join a {
  color: #0a66c2;
  text-decoration: none;
  font-weight: bold;
}
