body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:  #E3E3FF;
}

.Signup-card {
    width:360px ;
    max-width: 90%;
    margin: 60px auto;
    background-color: #8887C5;
    color:#fff ;
    border-radius: 16px;
    text-align: left;
    padding: 32px 30px 30px 15px ;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);

}
.input {
  display: inline-block;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 16px;
}
.input-full {
    width:95%;
}
.input-half {
 margin:auto;
 width:157.5px;
}
.signup-title {
text-align: center;
}
.btn {
  width: 100%;
  padding: 12px;
  background-color:  #8F8B86;
  color: #7d7162;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
.btn:hover {
  opacity: 0.9;
}
.Copyright {
    text-align: center;
}
.terms-checkbox{
   
    margin-left: 20px;
}
.login-link{
 text-align: center;
}
