
    body {
  font-family: Arial, sans-serif;
  background-color: #5DC6A6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.logincard {
    background-color: white;
    width:50%;
    height: 50%;
    border-radius: 4px;
   
    }
h2{
    font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
label{
  color:#5DC6A6 ;
  text-align: left;
  margin-left:55px;
}
input {
   
   width:65%;
    padding:15px;
    margin-left:49px;
    border-radius: 4px;
    border-color: antiquewhite;
   
}
button{
   width:73%;
    padding:15px;
    margin-left:49px;
   background-color:#5DC6A6;
   margin-top: 15px;
   border-radius: 4px;
   color:white;
   font-size: 20px;
   font-weight: bold;
}
a {
    text-decoration: none;
    color:black;
    text-align: center;
    position: absolute;
    bottom:220px;
    right:320px;
    
    
}
input:focus{
 color: #5DC6A6;
}