
body {
  font-family: Arial, sans-serif;
  background-color:  #5DC6A6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
    width:60%;
    height:55%;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
h1{
    color:  #5DC6A6;
    text-align: center;
    font-weight: bold;
}
input  {
 width:80%;
 margin-left: 30px;
 padding: 17px;
 margin-bottom: 20px;
 border-color:#c9c9c9 ;

}
.chk input {
   
}

button{
    background-color:#5DC6A6 ;
    padding:10px 20px ;
    border-radius: 3px;
    border:none ;
    font-weight: bold;
    color:white;
   margin-left: 190px;
}
.forgot {
    margin-top: 19px;
    text-align: center;
    
}
 a {
    text-decoration: none;
   color: #5DC6A6;
}
.signup {
    margin-top: 10px;
    text-align: center;
}

